.App-header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  line-height: 3.5rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px;
}

.App-header::after {
  content: " ";
  display: block;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.App-header > h1 {
  padding: 0 2rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.App-header > h1:hover {
  filter: brightness(1.2);
}

.App-header > h2 {
  padding: 0 2rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: ease 0.2s;
}
.App-header > h2.selected,
.App-header > h2:hover {
  color: var(--highlight-color);
}

.App-intro {
  font-size: large;
}