.App-header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 3.5rem;
  display: flex;
  background-color: var(--highlight-gray);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.8) 0 2px 5px;
}

.App-header > h1 {
  padding: 0 2rem;
  font-size: 1.25rem;
  color: var(--highlight-color);
  cursor: pointer;
}
.App-header > h2 {
  padding: 0 2rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: ease 0.2s;
}
.App-header > h2:hover {
  color: var(--highlight-color);
}

.App-intro {
  font-size: large;
}