.add-form {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.add-form > h2 {
  margin-bottom: 0.5rem;
  text-align: center;
  color: white;
}

.form-view {
  max-width: 50rem;
  padding: 2rem 4rem;
  margin: 0 auto;
  background-color: white;
  border-radius: var(--radius);
}
.form-view > label {
  display: flex;
  margin-bottom: 0.5rem;
}
.form-view > label > p {
  width: 6rem;
  padding-right: 1rem;
  line-height: 2.5rem;
  text-align: right;
}
.form-view > label > select {
  height: 2.5rem;
}
.form-view > label > input {
  flex: 1;
  height: 2.5rem;
}
.form-view > button {
  margin-top: 1rem;
  margin-left: 7rem;
  height: 2.5rem;
  width: 8rem;
}
