.categories-list > h2, .questions-list > h2{
  display: none;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #eee;
}

.question-view {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > ul {
  padding: 1rem 0;
  background-color: #eee;
  border-radius: var(--radius);
  overflow: hidden;
}
.categories-list li {
  display: flex;
  padding: 0.5rem 1rem;
  line-height: 2rem;
  cursor: pointer;
  transition: ease 0.2s;
}
.categories-list li:first-child{
  padding-left: 3.5rem;
}
.categories-list li:hover {
  text-indent: 1rem;
}
.categories-list li.selected {
  border-left: 5px solid var(--highlight-color);
  background-color: #ddd;
  letter-spacing: 3px;
  text-indent: 0;
}
.categories-list li > img{
  width: 1.5rem;
  margin-right: 1rem;
}

.search {
  display: flex;
  padding-top: 1rem;
}
.search > input {
  flex: 1;
  box-sizing: border-box;
  height: 3rem;
}
.search > button {
  margin-left: 0.5rem;
  box-sizing: border-box;
}

.questions-list {
  flex: 1;
  margin-left: 1rem;
}

.Question-holder {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: var(--radius);
  overflow: hidden;
}

.Question {
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--highlight-green);
  color: white;
}

.Question-status, .show-answer {
  padding: 0.5rem 1rem;
}

.Question-status {
  display: flex;
}
.Question-status img{
  width: 1.5rem;
}
.Question-status .delete{
  cursor: pointer;
}
.Question-status .difficulty {
  padding: 0 0.5rem;
  margin-right: 2rem;
}

.answer-holder {
  padding: 0.5rem 1rem;
  background-color: #ddd;
}

.pagination-menu {
  text-align: center;
}
.page-num {
  display: inline-block;
  min-width: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  background-color: #ddd;
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
}
.page-num.active {
  background-color: var(--highlight-color);
  color: white;
}
.page-num:hover {
  filter: brightness(0.9);
}
.page-num:active {
  filter: brightness(1.1);
}